Welcome to Kitty Creator!<br>
<ul>
<% @kitties.each do |kitty| %>
  <li><%= link_to kitty.name, kitty_path(kitty) %><br><br>
  <%= button_to "Delete Kitty", kitty_path(kitty), :method => :delete %> </li> <br><br>
<% end %>
</ul>